html, body{
    background-color: rgb(230, 228, 225);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glown-menu{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 59);
}