html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(230, 228, 225);
}

.mainPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.glown-menu {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    /* Ustawienie w kolumnie */
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 59);
    margin: 10px 0;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.niedostepne {
    cursor: not-allowed;
}